#sidebar a.active {
  background-color: white;
  color: red;
}

#sidebar {
  background-color: red;
  color: white;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  background-color: white;
  color: red;
}
